@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.banner_back {
    background-image: url("https://i.postimg.cc/pdJnQVMb/2022-09-11-19-58-17.jpg");
    background-size: cover;
    background-position: center;
}